.navbar {
  padding: 20px 10px 0;
 background-color: #1e94d2;
}

.navbar-toggle {

color: #fff

}

.navbar-menu{
  /* Aqui no fixed o elemento estará fixo independente de scroll na página ficando por cima dos
  dados da página */
  position: fixed;
  /* É para ficar colado em cima em baixo e na direita */
  top: 0;
  bottom: 0;
  right: 0;
  width: 210px;
  margin: 0;
   /* É para ficar acima dos dados */
  z-index: 9998;

  /* Para tirar o espaçamento interno dos itens */
  padding: 0;

   /* É para tirar as bolinhas dos itens */
  list-style: none;

  background-color: #3a3633;

}

.navbar-usuario {

  padding: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #525151;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;

}

.navbar-menuitem{
   padding: 15px;

}

.navbar-menuitem a{
 color: #c0bbb7;
 text-decoration: none;

}

.navbar-menuitem a:hover {
  color: #fff;
}

/* Aqui abaixo é uma classe puxando outra */
.navbar-menuitem.ativo {
  background-color: #494541;
}
